body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 400px;
  width: 400px;
  /* margin: 0 auto; */
  background-color: green;
}

.square {
  /* width: 4rem; */
  /* height: 4rem; */
  border: 1px solid black;

  &:hover {
    background-color: #18abea;
  }
}

.blue {
  background-color: #18eab7;
}
